/**
 *
 * Fonts
 *
 */
@font-face {
    font-family: 'LatoMedium';
    src: url('../fonts/Lato/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Medium.woff') format('woff'),
         url('../fonts/Lato/Lato-Medium.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Light.woff') format('woff'),
         url('../fonts/Lato/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
